*,
::after,
::before {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

body footer {
  margin: -3rem; }

.heading__greenblue {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #16c79a, #11698e, #19456b);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  transition: all 200ms ease-in-out; }
  .heading__greenblue:hover {
    transform: rotate(1deg) skew(15deg);
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.5); }

.heading__section {
  text-align: left;
  color: black;
  font-size: 4rem;
  padding-bottom: 6rem; }

.u-bkg-white {
  background-color: #fff; }

.u-bkg-black {
  background-color: #000; }

.u-vertical-padding-lg {
  padding-top: 20rem;
  padding-bottom: 20rem; }

.u-vertical-padding-md {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.u-vertical-padding-sm {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-mt-lg {
  margin-top: 15rem; }

.u-mt-md {
  margin-top: 10rem; }

.u-mt-sm {
  margin-top: 5rem; }

.u-mb-lg {
  margin-bottom: 15rem; }

.u-mb-md {
  margin-bottom: 10rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

.u-ml-lg {
  margin-left: 15rem; }

.u-ml-md {
  margin-left: 10rem; }

.u-ml-sm {
  margin-left: 3rem; }

.section-description__paragraph {
  font-size: 2.5rem;
  text-align: left;
  text-transform: inherit;
  line-height: 4rem; }

@media only screen and (max-width: 56.25em) {
  .section-description__paragraph {
    text-align: center; }
    .section-description__paragraph--two {
      margin-top: -20rem; } }

.section-details__items {
  margin-top: 6rem; }
  .section-details__items--image {
    box-shadow: 0 1.5px 3px 2px rgba(0, 0, 0, 0.4);
    width: 25rem;
    height: 30rem;
    border-radius: 1rem; }
  .section-details__items--text {
    font-size: 2.5rem;
    margin-top: 6rem;
    margin-left: -28rem;
    line-height: 3.8rem;
    text-transform: inherit; }
    @media only screen and (max-width: 75em) {
      .section-details__items--text {
        font-size: 2rem;
        margin-left: -20rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-details__items--image {
      width: 100%; }
    .section-details__items--text {
      font-size: 3rem;
      margin-left: 0;
      text-align: center; } }

.section-order__card {
  border: none;
  margin-top: 6rem; }
  .section-order__card--image {
    box-shadow: 0 1.5px 3px 2px rgba(0, 0, 0, 0.4);
    width: 25rem;
    height: 30rem;
    border-radius: 1rem; }
  .section-order__card--title {
    margin-top: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    border: none; }

@media only screen and (max-width: 75em) {
  .section-order__card--image {
    width: 20rem;
    height: 25rem; } }

@media only screen and (max-width: 56.25em) {
  .section-order__card--image {
    width: 30rem;
    height: 35rem; }
  .section-order__card--title {
    font-size: 3rem; } }

.footer {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10rem 0rem;
  text-align: center; }
  .footer__left {
    margin-left: -20rem; }
  .footer__right {
    margin-right: -20rem;
    margin-left: 20rem; }
  .footer__nav {
    display: flex;
    justify-content: left;
    list-style: none;
    font-size: 3.8rem;
    padding-bottom: 5rem;
    text-align: left;
    margin-left: -4rem; }
    .footer__nav li a {
      color: #e7d9ea;
      padding: 4rem; }
  .footer__policy {
    text-align: left;
    font-size: 3rem; }
    .footer__policy--title {
      padding-bottom: 2rem;
      text-decoration: underline; }
    .footer__policy--paragraph {
      font-size: 2rem;
      line-height: 4rem;
      font-weight: 400; }
  .footer__address {
    text-align: center; }
    .footer__address--title {
      padding-top: 1rem;
      padding-bottom: 3rem;
      text-decoration: underline;
      text-transform: uppercase;
      font-size: 3rem; }
  .footer__copyright {
    margin-bottom: -5rem; }
  @media only screen and (max-width: 75em) {
    .footer {
      padding: 5rem 2rem; }
      .footer__nav {
        font-size: 2.2rem; }
      .footer li a {
        padding: 2rem; }
        .footer li a:first-child {
          padding-left: 4rem; }
      .footer__left {
        margin-left: 0; }
      .footer__right {
        margin-right: 0rem;
        margin-left: 0rem; }
      .footer__copyright {
        margin-bottom: 1rem; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 5rem 1rem; }
      .footer__nav {
        font-size: 3rem; }
      .footer li a {
        padding: 2rem;
        font-size: 2.5rem; }
      .footer__left {
        margin-left: 0; }
      .footer__right {
        margin-right: 0rem;
        margin-left: 0rem; }
      .footer__policy {
        border-right: none;
        border-bottom: 1px solid #fff; }
        .footer__policy--paragraph {
          padding-bottom: 2rem; }
      .footer__copyright {
        margin-bottom: -2rem;
        color: #16c79a; } }
  @media only screen and (max-width: 37.55em) {
    .footer__nav {
      font-size: 3rem; }
    .footer li a {
      padding: .8rem;
      font-size: 1.5rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      width: 50rem !important; } }
  @media only screen and (max-width: 37.55em) {
    .row {
      width: 35rem !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }

.header {
  padding: 0 5rem; }
  .header__about {
    padding-top: 10rem;
    display: flex;
    text-align: left; }
    .header__about--image {
      width: 50%;
      border-radius: 1.3rem; }
    .header__about--paragraph {
      width: 50%;
      font-size: 2rem;
      margin-left: 6rem;
      text-transform: inherit;
      line-height: 3.3rem; }
  @media only screen and (max-width: 75em) {
    .header__about--image {
      height: 60rem; }
    .header__about--paragraph {
      height: 60rem; } }
  @media only screen and (max-width: 56.25em) {
    .header__about {
      display: block;
      text-align: center; }
      .header__about--image {
        width: 100%; }
      .header__about--paragraph {
        width: 100%;
        margin-left: 0;
        margin-top: 2rem; } }
  @media only screen and (max-width: 37.55em) {
    .header__about--image {
      width: 100%;
      height: 40rem; } }

body {
  font-family: "Segoe UI", sans-serif;
  color: #19456b; }

a {
  color: #19456b; }

@media only screen and (max-width: 56.25em) {
  .header {
    display: block; } }

footer {
  background-image: linear-gradient(to top, #11698e 5%, #19456b 95%);
  color: #fff; }
