.header {
  padding: 0 5rem;
  &__about {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    &--image {
      width: 55rem;
    }
    &--paragraph {
      width: 55rem;
      font-size: 2rem;
      margin-left: 6rem;
      text-transform: inherit;
      line-height: 3.3rem;
    }
  }
}
