.header {
  padding: 0 5rem;
  &__about {
    padding-top: 10rem;
    display: flex;
    text-align: left;
    @include respond-to(tablet) {
      display: block;
      text-align: center;
    }
    &--image {
      width: 50%;
      border-radius: 1.3rem;
    }
    &--paragraph {
      width: 50%;
      font-size: 2rem;
      margin-left: 6rem;
      text-transform: inherit;
      line-height: 3.3rem;
    }
  }
}
