body {
  font-family: "Segoe UI", sans-serif;
  color: $blue-color-dark;
}

a {
  color: $blue-color-dark;
}

.header {
  @include respond-to(tablet) {
    display: block;
  }
}

footer {
  background-image: linear-gradient(
    to top,
    rgba($blue-color, 1) 5%,
    rgba($blue-color-dark, 1) 95%
  );
  color: $white-color;
}
